{% from "beaver/map.jinja" import defaults with context -%}
{% set transport = salt['pillar.get']('beaver:transport', defaults.transport) -%}

# Managed by Salt.
[beaver]
{% set format = salt['pillar.get']('beaver:format', defaults.format) %}
transport: {{ transport }}
format: {{ format }}
logstash_version: {{ salt['pillar.get']('beaver:logstash_version', defaults.logstash_version) }}
sincedb_path: {{ salt['pillar.get']('beaver:sincedb_path', defaults.sincedb_path) }}
hostname: {{ salt['pillar.get']('beaver:hostname', grains.get('host', 'localhost')) }}

{% if transport == 'tcp' -%}
# TCP Output Settings
tcp_host: {{ salt['pillar.get']('beaver:tcp_host', defaults.tcp_host) }}
tcp_port: {{ salt['pillar.get']('beaver:tcp_port', defaults.tcp_port) }}
tcp_ssl_enabled: {{ salt['pillar.get']('beaver:tcp_ssl_enable', defaults.tcp_ssl_enable) }}
tcp_ssl_verify: {{ salt['pillar.get']('beaver:tcp_ssl_verify', defaults.tcp_ssl_verify) }}

{% elif transport == 'udp' -%}
# UDP Output Settings
udp_host: {{ salt['pillar.get']('beaver:udp_host', defaults.udp_host) }}
udp_port: {{ salt['pillar.get']('beaver:udp_port', defaults.udp_port) }}

{% elif transport == 'redis' -%}
# Redis Output Settings
redis_url: {{ salt['pillar.get']('beaver:redis_url', defaults.redis_url) }}
redis_password:  {{ salt['pillar.get']('beaver:redis_password', defaults.redis_password) }}
redis_namespace: {{ salt['pillar.get']('beaver:redis_namespace', defaults.redis_namespace) }}

{% endif -%}

# Monitored Files:
{% for name, fields in salt['pillar.get']('beaver:files', {}).items() %}
[{{ name }}]:
type: {{ fields.get('type', 'unknown') }}
{% if fields.get('tags', []) %}tags: {{ ", ".join(fields.get('tags', [])) }}{% endif %}
{% endfor %}
